html,body,#root,.App{
  margin:0;
padding:0;
height: 100%;
width: 100%;

}

.home{
  
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}
.subTable{
  border:1px solid black;
  margin :20px;
  background-image: url("./table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.subWaiter{
  border:1px solid black;
  margin :20px;
  background-image: url("./waiter.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Input{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 6%;
  margin-top: 8%;
}

.menu{
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 5px;
  border: 1px solid black;
  overflow-y: auto;
}

.bill{
  margin-left: 100px;
}
.cart{
  overflow-y: auto;
}
table,thead,tbody{
  border-collapse: collapse;
  margin-left: 20px;
  margin-top: 4%;
}

th,td{
  border: 1px solid black;
}

.wrapper{
  display: flex;
  height: 100%;
  width: 100%;
  background-color: lightgrey;

}


